################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WorkingDirectory/ProductionPlan/ProductionPlan/obj
/WorkingDirectory/ProductionPlan/ProductionPlan/bin/Debug/net6.0
